@import '../colors.scss';

.card-line {
    padding: 10px;
    background-color: #444343;
    max-width: 80%;
    border-radius: 50px;
    margin: 5vw auto;
    .card-image {  
        border-radius: 40px;
        overflow: hidden;
        height: 50vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-text {
        margin: 30px 20px auto;
        p {
            margin: 30px 20px;
            text-indent: 2%;
            text-align: justify;
            overflow-wrap: anywhere;
        }
        h6 {
            text-align: right;
            margin: 10px 30px
        }
    }
}

.social {
    padding: 10px;
    max-width: 80%;
    margin: auto;
    .list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        li {
            display: flex;
            align-items: center;
        }
        span {
            border: 1px solid #706c6c;
        }
        a {
            text-decoration: none;
            color: currentColor;
            display: flex;
            gap: 20px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }
}