.skills {
    margin: auto;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        li {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}