.icon {
  width: 96px;
  height: 96px;
  border-radius: 22%;
  overflow: hidden;
  background-color: #5c5959;

  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    inset 0 -2px 4px rgba(0, 0, 0, 0.25),
    0 10px 20px rgba(0, 0, 0, 0.25);
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
