.language-switch {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .flag {
    position: absolute;
    font-size: 1.5rem;
    transition:
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.5s ease;
    will-change: transform;
  }

  &.fr-active {
    .flag-fr {
      transform: translate(0, 0) scale(1.4);
      opacity: 1;
      z-index: 2;
    }

    .flag-en {
      transform: translate(16px, -16px) scale(0.9);
      opacity: 0.5;
      z-index: 1;
    }
  }

  &.en-active {
    .flag-en {
      transform: translate(0, 0) scale(1.4);
      opacity: 1;
      z-index: 2;
    }

    .flag-fr {
      transform: translate(-16px, 16px) scale(0.9);
      opacity: 0.5;
      z-index: 1;
    }
  }
}
